@tailwind base;
@tailwind components;
@tailwind utilities;

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }



  .custom-shadow {
    box-shadow: 
        inset 1.5px 1.5px 1px 0px rgba(255, 255, 255, 0.6), /* Inner shadow */
        5px 5px 10px 2px rgba(0, 0, 0, 0.8); /* Outer shadow with blur and spread */
        transition: box-shadow 0.3s ease;
}

.custom-shadow.no-shadow {
  box-shadow: none; /* No shadow when no-shadow class is applied */
}

.find-button-shadow {
  box-shadow: 
        inset 1.5px 1.5px 1px 0px rgba(255, 255, 255, 0.6), /* Inner shadow */
        5px 5px 10px 2px rgba(0, 0, 0, 0.8); /* Outer shadow with blur and spread */
        transition: box-shadow 0.3s ease;
}

.find-button-shadow.no-shadow {
  box-shadow: none; /* No shadow when no-shadow class is applied */
}

.input-box-shadow{
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.7);;
}


.input-inner-shadow{
  background: rgb(61,61,61);
background: linear-gradient(149deg, rgba(61,61,61,0.9646709025407038) 10%, rgba(0,0,0,0.9646709025407038) 52%, rgba(0,0,0,1) 92%);
}

.main-container-left-top-shadow{
    box-shadow: 
        inset 3px 3px 1px 0px rgb(241, 240, 237, 0.2)
}

.main-container-left-shadow{
  box-shadow: 
      inset 1.5px 0px 0px 0px rgba(0, 0, 0, 1)
}

.outer-shadow{
  box-shadow: 
  5px 5px 10px 0px rgba(0, 0, 0, 0.4);

}